<div class="container fw-bold bg-color-dark">
    <hr>
    <h1 class="text-center">| Servicios |</h1>
    <hr>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Bañera</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span></span>
              <p class="card-text">Cocina</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Lavarropas</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                
              <p class="card-text"><span><i class="bi bi-wifi"></i></span> Wifi Gratis</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Terraza</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Aire Acondicionado</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Recepcion 24 horas</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Servicio diario de limpieza</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1 style="margin-top: 1em;" class="text-align-center">Alojate en el corazón de Budapest</h1>
            <p class="text-align-center">El 7Seasons Apartments cuenta con recepción 24 horas y ofrece departamentos amplios de 1 a 3 dormitorios en pleno centro de Budapest, a solo 100 metros de la plaza Deak Ferenc, donde se encuentra el principal intercambiador de transporte público. <br>

                    Todos los departamentos disponen de wifi gratis. El servicio de limpieza y el servicio de transfer pueden solicitarse por adelantado y conllevan un adicional. <br>
                    
                    Todos los departamentos tienen cocina funcional. Hay numerosas cafeterías, restaurantes y un supermercado 24 horas en las inmediaciones del 7Seasons Apartments. <br>
                    
                    La basílica de San Esteban, la Gran Sinagoga, el Teatro Estatal de la Ópera y el Parlamento de Hungría están a poca distancia a pie. <br>
                    
                    Nuestros clientes dicen que esta parte de Budapest es su favorita, según los comentarios independientes. <br>
                    
                    A las parejas les gusta la ubicación. Le pusieron un puntaje de 9,7 para un viaje de a dos.</p>
        </div>
        <div class="col-12 col-md-4">
            <img style="margin-top: 6em;" src="../../assets/img/hotel.jpg" class="w-100">
        </div>
    </div>
</div>
