<footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/69585232.jpg?k=47055b5123875e763b2336c6ab007796a90b4a38b5f0af1f6a0d86ec12500af5&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/69585204.jpg?k=781fb019b2760bfcbbc88b38f4988a942397905d1c95a27899541eb7837ba90b&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/71081780.jpg?k=ffa2e602efae60dbc0d547f65dbf2ee7aa11be159488fc9dc69782dc802d2c4e&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/106201924.jpg?k=acd23840c73d411bfddfd6dd83e640dbead3590b27ea8878d995b4e50f39b813&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/87429279.jpg?k=c42e70f7026958ba62b91d68267c207fca4dce772d603a2e7159405a55e223d0&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/87430882.jpg?k=e821409683c285aa52b9b4826167181c48c0826378606e07a3cf343d139c5a2f&o=&hp=1"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" style="text-decoration: none;" href="https://www.twitch.tv/floatergm_">Cristobal Valencia Hernandez</a>
    </div>
    <!-- Copyright -->
  </footer>
